


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkers Pizza</title>

  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/animations.css">
  <link rel="stylesheet" href="/static/css/page-landing.css">
  
</head>
<body>

<div id="header">
  <div id="container">
            <img class="animate-up" src="/static/checkers-logo.png">
          </div>
</div>
<div id="navbar">

<div id="flat_logo"><h2>Pizzaria</h2></div>
<div id="opt1">Carrinho</div>
<div id="opt2"><a href="{% url 'social:begin' 'google-oauth2' %}">Login</a></div>
<div id="opt3">Cadastro</div>

</div>

{% block content %}
{% endblock %}
   
</body>
</html>
